
#maindiv{
  align-items: center;
 
  background-color: #ffffff;
}
#search{
  background-color: #000000;
  
}
body{
  background-color: black;
}
input[type=search] {
  width: 100%;

  box-sizing: border-box;
  border: 1px solid #080808;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

